@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
    font-family: "Gotham";
}
body {
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 12px;
  background: #01bbc9;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #00d4ab;
}

button.active {
  background: #00d4ab;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.canvas-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  max-width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
}

#canvas {
  display: block;
  max-width: 100%;
}

.highlight {
  position: absolute;
  background-color: #ffff001a;
  border: 2px dashed red;
  pointer-events: none;
}

.selection-rectangle {
  position: absolute;
  border: 2px dashed #01bbc9;
  background-color: rgba(66, 133, 244, 0.1);
  pointer-events: none;
}

#logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
#logo h1{
  font-size: 25px;
  color: #00d4ab;
}